.card-image.noimage{
  min-height: 100px;
}

.card .card-content p{
  margin-bottom: 1em;
}
.card .card-content p:last-child{
  margin-bottom: 0;
}

footer a{
  color: #fff;
  font-weight: bold;
}
footer a:hover{
  color: #039be5;
}

hr{
  margin-top: 60px;
  margin-bottom: 60px;
}

#chart1{
  text-align: center;
}